<div class='site-header txt-center'>
	<a href="{{ "/" | prepend: site.baseurl }}" class="author-thumb">
	  <img src="{{ "/img/me.jpg" | prepend: site.baseurl }}" alt="Author thumbnail" class="dot">
	</a>
	<h1>Hi, I'm Max aka 'Snake' <small>and here is  a few my thoughts... :)</small></h1>
	<a href="http://ua.linkedin.com/in/maxnedelchev/"><button class='btn btn-default btn-lg'><i class='icon icon-linkedin'></i></button></a>
	<a href="https://github.com/{{ site.github_username }}"><button class='btn btn-default btn-lg'><i class='icon icon-github'></i></button></a>
	<a href="https://facebook.com/{{ site.facebook }}"><button class='btn btn-default btn-lg'><i class='icon icon-facebook'></i></button></a>
	
    <hr class="hr">
</div>